h1{
    text-align: center;

}
h3{
    text-align: center;
}
div{
    margin: 15px;
}
.first{
    display: flex;
    align-items: center;
    justify-content: center;
}
.second{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn{
    height: 200px;
    width: 200px;
    border: 10px solid black;
    border-radius: 20px;
}
.red{
    background-color: #d95980;
}
.yellow{
    background-color: #f99b45;
}
.green{
    background-color: #63aac0;

}
.purple{
    background-color: #819ff9;
}
.flash{
    background-color: white;
}
.userflash{
    background-color: green;
}